.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: azure;
}
.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 50%;
  background-color: lavender;
}
.name {
  display: block;
  font-weight: 700;
}
